In [20]:
import pandas as pd
import numpy as np
import os, sys
import glob
import os
input_path = r'/home/birdfly/Taxidata/'
output_path = "/home/birdfly/TaxidataResult/AllData/graph/"
output_path_in = "/home/birdfly/TaxidataResult/AllData/graph_in/"
output_path_out = "/home/birdfly/TaxidataResult/AllData/graph_out/"
os.chdir(input_path)
data_cols = ['date','time', 'label', 'tag','lat','lon','speed?','direction?','status', '?']

In [ ]:
for sub_path in os.listdir(input_path):
    generate_bit_map_data(input_path, sub_path,output_path, output_path_in, output_path_out)

/home/birdfly/Taxidata/20170328
/home/birdfly/Taxidata/20170303
/home/birdfly/Taxidata/20170301

In [31]:
def generate_bit_map_data(input_path, sub_path, output_path, output_path_in, output_path_out):
    data_cols = ['date','time', 'label', 'tag','lat','lon','speed?','direction?','status', '?']
    date_data_files = glob.glob(os.path.join(input_path, sub_path) + "/*.TXT")
    print(os.path.join(input_path, sub_path))
    date_data_files = sorted(date_data_files)   

    index_count = 0
    sample_data = []
    for date_data_file in date_data_files:
        sample_data.append(pd.read_csv(date_data_file, sep=',',encoding='GB2312', names= data_cols, header=None, dtype={'time': object}))

        index_count = index_count + 1
        if index_count % 2 == 0:
            sample_data = pd.concat(sample_data, axis=0, ignore_index=True)
            sample_data['tag'] = sample_data['tag'].str.replace(r'[^\x00-\x7F]+', '')
            record_data = generate_take_record_data(sample_data)
            graph, graphIn, graphOut = generate_map(record_data)
            
            path = os.path.join(output_path, sub_path)
            if not os.path.exists(path):
                os.makedirs(path, mode=0o777) 
            pd.DataFrame(graph).to_csv (path + "/" + str(index_count / 2) + ".csv", index = None, mode = 'w',header=None)
   
            path_in = os.path.join(output_path_in, sub_path)
            if not os.path.exists(path_in):
                os.makedirs(path_in, mode=0o777) 
            pd.DataFrame(graphIn).to_csv (path_in + "/" + str(index_count / 2) + ".csv", index = None, mode = 'w',header=None)

            path_out = os.path.join(output_path_out, sub_path)
            if not os.path.exists(path_out):
                os.makedirs(path_out, mode=0o777) 
            pd.DataFrame(graphOut).to_csv (path_out + "/" + str(index_count / 2) + ".csv", index = None, mode = 'w',header=None)

            sample_data = []

In [28]:
def generate_map(date_data):
    # Generate N*N graph
    N = 500

    max_lat = 106.753129
    min_lat = 106.273290
    lat_range = (max_lat - min_lat) / N

    max_lon = 29.878034
    min_lon = 29.360739
    lon_range = (max_lon - min_lon) / N

    graph = np.zeros((N,N))
    graphIn = np.zeros((N,N))
    graphOut = np.zeros((N,N))
    previous_row = None
    for index, row in date_data.iterrows(): 
      lat = row['lat']
      lon = row['lon']
      if lat > max_lat and lat < min_lat and lon > max_lon and lon < min_lon:
        continue

      #lat index
      lat_index = 0;
      if lat < min_lat:
        lat_index = 0
      elif lat > max_lat:
        lat_index = N - 1
      else:
        lat_index = int((lat - min_lat) / lat_range)
      lat_index = N - 1 - lat_index

      #lon index
      lon_index = 0;
      if lon < min_lon:
        lon_index = 0
      elif lon > max_lon:
        lon_index = N - 1
      else:
        lon_index = int((lon - min_lon) / lon_range)

      if row['status'] == 0: # take taxi
        graph[lon_index, lat_index] = graph[lon_index, lat_index] + 1
        graphIn[lon_index, lat_index] = graphIn[lon_index, lat_index] + 1
      elif row['status'] == 1: # drop off taxi
        graph[lon_index, lat_index] = graph[lon_index, lat_index] - 1
        graphOut[lon_index, lat_index] = graphOut[lon_index, lat_index] + 1
      previous_row = row
    
    return graph, graphIn, graphOut

In [22]:
def generate_take_record_data(original_data):
    original_data["tag"] = original_data["tag"].str.replace(r'[^\x00-\x7F]+', '')
    original_data.sort_values(by= ['tag', 'time'] , inplace=True)
    
    # status 0 take taxi: 1 drop off taxi
    data_cols = ['tag','date','time', 'lat','lon','status']
    taxi_record_data = pd.DataFrame(columns=data_cols)
      
    previous_row = None
    for index, row in original_data.iterrows(): 
        if previous_row is not None and previous_row['tag'] == row['tag']:
            if previous_row['status'] == 0 and row['status'] == 1:
                new_record = {'tag': row['tag'], 
                               'date': row['date'], 
                               'time': row['time'], 
                               'lat': row['lat'],
                               'lon': row['lon'],
                               'status': 0}
                taxi_record_data = taxi_record_data.append(new_record, ignore_index=True)
            elif previous_row['status'] == 1 and row['status'] == 0:
                new_record = {'tag': row['tag'], 
                               'date': row['date'], 
                               'time': row['time'], 
                               'lat': row['lat'],
                               'lon': row['lon'],
                               'status': 1}
                taxi_record_data = taxi_record_data.append(new_record, ignore_index=True)         

        previous_row = row

    return taxi_record_data

In [76]:
sample_data.sort_values(by= ['tag', 'time'] , inplace=True)

In [77]:
sample_data

,date,time,label,tag,lat,lon,speed?,direction?,status,?
46824,20170325,001059,H,0100000001,106.651460,29.787845,0.0,236,0,1
94718,20170325,001159,H,0100000001,106.651680,29.788002,0.0,42,0,1
142956,20170325,001259,H,0100000001,106.651680,29.788002,0.0,42,0,1
191409,20170325,001359,H,0100000001,106.651680,29.788002,0.0,42,0,1
250420,20170325,001500,H,0100000001,106.651673,29.788047,0.0,238,0,1
297100,20170325,001600,H,0100000001,106.651673,29.788047,0.0,238,0,1
345099,20170325,001700,H,0100000001,106.651673,29.788047,0.0,238,0,1
393226,20170325,001800,H,0100000001,106.651673,29.788047,0.0,238,0,1
441485,20170325,001901,H,0100000001,106.651673,29.788047,0.0,238,0,1
1645,20170325,001001,H,0100000002,106.583100,29.546278,10.9,102,1,1
8481,20170325,001011,H,0100000002,106.583348,29.546570,13.4,348,1,1
21346,20170325,001026,H,0100000002,106.583243,29.546772,0.0,2,1,1
35013,20170325,001041,H,0100000002,106.583253,29.546965,0.0,338,1,1
45356,20170325,001055,H,0100000002,106.583390,29.547163,7.5,32,1,1
58892,20170325,001111,H,0100000002,106.583362,29.547155,0.0,28,1,1
76270,20170325,001126,H,0100000002,106.583362,29.547155,0.0,28,1,1
80141,20170325,001141,H,0100000002,106.583362,29.547155,0.0,28,1,1
92204,20170325,001156,H,0100000002,106.582797,29.546853,26.3,258,1,1
108462,20170325,001211,H,0100000002,106.581137,29.546425,51.2,252,1,1
116368,20170325,001226,H,0100000002,106.578953,29.545943,51.7,256,1,1
128410,20170325,001241,H,0100000002,106.576797,29.545455,51.6,250,1,1
140080,20170325,001256,H,0100000002,106.574697,29.544872,46.6,252,1,1
152345,20170325,001311,H,0100000002,106.572928,29.544550,43.1,258,1,1
153507,20170325,001313,H,0100000002,106.572702,29.544508,38.5,250,1,1
193229,20170325,001329,H,0100000002,106.572092,29.544393,1.9,194,1,1
193230,20170325,001329,H,0100000002,106.572092,29.544393,1.9,194,1,1
193231,20170325,001329,H,0100000002,106.572092,29.544393,1.9,194,1,1
194615,20170325,001404,H,0100000002,106.568990,29.543990,39.0,256,1,1
213854,20170325,001419,H,0100000002,106.566997,29.543645,49.4,256,1,1
219967,20170325,001434,H,0100000002,106.565047,29.543270,53.7,258,1,1
...,...,...,...,...,...,...,...,...,...,...
423626,20170325,001838,H,D0D0F5D2B1,106.559677,29.626603,16.0,42,0,1
437648,20170325,001856,H,D0D0F5D2B1,106.559968,29.627140,8.5,20,0,1
9925,20170325,001013,H,D0D0F5D2D1,106.609800,29.717442,21.3,360,1,1
22889,20170325,001029,H,D0D0F5D2D1,106.609767,29.719112,50.6,0,1,1
94258,20170325,001159,H,D0D0F5D2D1,106.611622,29.722400,33.8,356,1,1
107605,20170325,001216,H,D0D0F5D2D1,106.611978,29.723388,28.4,78,1,1
142816,20170325,001300,H,D0D0F5D2D1,106.615250,29.723183,11.1,0,1,1
155466,20170325,001317,H,D0D0F5D2D1,106.615250,29.723183,11.1,0,1,1
193898,20170325,001403,H,D0D0F5D2D1,106.625788,29.722107,41.4,94,1,1
208010,20170325,001420,H,D0D0F5D2D1,106.626540,29.722105,0.0,88,1,1
267056,20170325,001522,H,D0D0F5D2D1,106.626740,29.722117,19.1,64,1,1
280209,20170325,001539,H,D0D0F5D2D1,106.626770,29.723328,34.3,352,1,1
341543,20170325,001656,H,D0D0F5D2D1,106.626535,29.727672,19.1,346,1,1
354953,20170325,001713,H,D0D0F5D2D1,106.626420,29.729205,42.9,0,1,1
428620,20170325,001845,H,D0D0F5D2D1,106.627850,29.733522,37.4,342,1,1
442182,20170325,001902,H,D0D0F5D2D1,106.627415,29.735575,61.5,348,1,1
20884,20170325,001026,H,D0D0F5D2E1,106.510633,29.472407,41.3,324,1,1
33419,20170325,001043,H,D0D0F5D2E1,106.510440,29.474068,38.5,2,1,1
104599,20170325,001212,H,D0D0F5D2E1,106.514052,29.475642,20.0,62,1,1
117973,20170325,001229,H,D0D0F5D2E1,106.515027,29.476113,21.1,58,1,1
144216,20170325,001302,H,D0D0F5D2E1,106.516312,29.475510,7.6,96,0,1
158482,20170325,001318,H,D0D0F5D2E1,106.516287,29.475628,4.8,94,0,1
196657,20170325,001406,H,D0D0F5D2E1,106.516308,29.477488,25.0,40,0,1
210609,20170325,001424,H,D0D0F5D2E1,106.517103,29.478088,22.0,102,0,1
271247,20170325,001527,H,D0D0F5D2E1,106.521765,29.473098,37.6,128,0,1
283690,20170325,001544,H,D0D0F5D2E1,106.523002,29.471877,35.4,140,0,1
345578,20170325,001701,H,D0D0F5D2E1,106.527613,29.469238,35.2,106,0,1
358599,20170325,001718,H,D0D0F5D2E1,106.529097,29.468965,9.4,102,0,1
433033,20170325,001850,H,D0D0F5D2E1,106.529140,29.469038,0.0,102,0,1
445897,20170325,001907,H,D0D0F5D2E1,106.529140,29.469038,0.0,102,0,1