<a href="https://colab.research.google.com/github/zjubirdfly/traffic/blob/master/GeneratePicture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Connect to google cloud and import data
import uuid
import pandas as pd
import numpy as np
import os
import glob
import shutil
from google.colab import auth
from google.colab import drive
project_id = 'directed-symbol-252319'
bucket_name = "chongqingtaxidata"
raw_data_bucket_name = "raw_taxi_data"
destination_path = "/content/Taxidata/"
auth.authenticate_user()
drive.mount('/content/drive')
!gcloud config set project {project_id}

In [0]:
#Copy files into system
!mkdir {destination_path}
!gsutil -m cp -r gs://{raw_data_bucket_name}/201703/25 {destination_path}

In [0]:
data_cols = ['date','time', 'label', 'tag','lat','lon','speed?','direction?','status', '?']
files = glob.glob("/content/Taxidata/25/20170325_041.TXT")

all_date_data = []
sample_data = []
for file in files:
    sample_data.append(pd.read_csv(file, sep=',',encoding='GB2312', names= data_cols, header=None,  dtype={'time': object}))

all_date_data = pd.concat(sample_data, axis=0, ignore_index=True)

In [0]:
# Generate N*N graph
N = 25

max_lat = 106.753129
min_lat = 106.273290
lat_range = (max_lat - min_lat) / N

max_lon = 29.878034
min_lon = 29.360739
lon_range = (max_lon - min_lon) / N

graph = np.zeros((N,N))

count = 0
previous_row = None
for index, row in all_date_data.iterrows(): 
  lat = row['lat']
  lon = row['lon']
  if lat > max_lat and lat < min_lat and lon > max_lon and lon < min_lon:
    continue

  #lat index
  lat_index = 0;
  if lat < min_lat:
    lat_index = 0
  elif lat > max_lat:
    lat_index = N - 1
  else:
    lat_index = int((lat - min_lat) / lat_range)
  lat_index = N - 1 - lat_index

  #lon index
  lon_index = 0;
  if lon < min_lon:
    lon_index = 0
  elif lon > max_lon:
    lon_index = N - 1
  else:
    lon_index = int((lon - min_lon) / lon_range)

  if row['status'] == 1:
    count = count + 1
    graph[lon_index, lat_index] = graph[lon_index, lat_index] + 1
  previous_row = row
print(graph)
print(count)

[[3.700e+01 0.000e+00 0.000e+00 0.000e+00 2.000e+00 7.000e+01 1.300e+01
  1.400e+01 0.000e+00 1.000e+01 0.000e+00 1.670e+02 8.600e+01 5.700e+01
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 8.000e+01 0.000e+00 9.900e+01]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  2.900e+01 1.600e+01 1.500e+01 1.200e+01 1.250e+02 2.750e+02 1.460e+02
  1.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 1.000e+00
  2.700e+01 0.000e+00 0.000e+00 0.000e+00]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 1.200e+01 2.140e+02 1.000e+01 2.200e+01
  2.700e+01 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 1.300e+01 0.000e+00 1.300e+01]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 9.700e+01 9.200e+01 5.000e+00 1.000e+00
  8.500e+01 3.400e+01 4.000e+01 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 1.220e+02 1.120e+02 7.600e+01 1.500e+01
  8.400e+01 0.000e+00 1.040e+02 6.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 9.000e+00
  2.100e+01 0.000e+00 2.100e+01 1.580e+02 1.210e+02 5.900e+01 5.000e+00
  2.600e+02 5.100e+01 1.000e+02 0.000e+00 6.000e+00 0.000e+00 0.000e+00
  2.000e+00 7.000e+00 1.000e+00 0.000e+00]
 [2.000e+01 0.000e+00 0.000e+00 0.000e+00 0.000e+00 6.500e+01 6.600e+01
  1.500e+01 0.000e+00 1.780e+02 5.200e+01 1.950e+02 1.040e+02 4.250e+02
  3.690e+02 8.900e+01 5.400e+01 2.000e+01 1.400e+01 4.000e+00 8.000e+00
  9.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [0.000e+00 2.000e+00 0.000e+00 0.000e+00 1.500e+01 7.100e+01 0.000e+00
  5.000e+00 1.200e+02 6.600e+02 7.710e+02 4.340e+02 1.180e+03 6.860e+02
  2.460e+02 3.260e+02 1.250e+02 2.300e+01 1.000e+01 1.800e+01 4.100e+01
  0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [8.000e+00 0.000e+00 0.000e+00 0.000e+00 8.000e+00 1.100e+01 0.000e+00
  2.300e+01 1.650e+02 1.208e+03 9.340e+02 1.830e+02 1.051e+03 7.120e+02
  5.890e+02 3.850e+02 2.670e+02 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 1.000e+01 0.000e+00]
 [5.000e+00 0.000e+00 0.000e+00 1.000e+00 8.000e+00 2.000e+00 0.000e+00
  2.000e+01 2.680e+02 7.770e+02 1.104e+03 6.930e+02 6.490e+02 3.300e+02
  5.250e+02 7.470e+02 2.530e+02 1.400e+01 0.000e+00 1.000e+00 0.000e+00
  0.000e+00 0.000e+00 1.000e+01 0.000e+00]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 6.000e+00 0.000e+00 3.000e+00
  1.500e+01 3.240e+02 4.450e+02 1.245e+03 2.550e+03 1.078e+03 7.010e+02
  2.870e+02 1.880e+02 1.760e+02 2.700e+01 0.000e+00 1.000e+00 0.000e+00
  0.000e+00 0.000e+00 1.900e+01 3.800e+01]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 1.200e+01 2.100e+01 0.000e+00
  1.500e+01 1.170e+02 4.500e+01 4.650e+02 6.960e+02 9.140e+02 4.170e+02
  9.500e+01 1.200e+01 8.300e+01 0.000e+00 0.000e+00 2.600e+01 3.100e+01
  3.300e+01 5.000e+00 4.400e+01 1.380e+02]
 [1.400e+01 0.000e+00 0.000e+00 0.000e+00 0.000e+00 5.000e+00 1.000e+01
  1.000e+00 1.200e+01 5.800e+01 2.640e+02 4.230e+02 2.910e+02 1.280e+02
  1.670e+02 2.000e+00 5.700e+01 0.000e+00 0.000e+00 1.500e+01 5.100e+01
  3.400e+01 4.000e+01 3.400e+01 1.600e+01]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  2.000e+00 1.430e+02 3.320e+02 1.610e+02 1.700e+02 5.100e+01 2.000e+00
  9.700e+01 0.000e+00 2.500e+01 2.000e+01 0.000e+00 4.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [0.000e+00 5.000e+00 0.000e+00 9.000e+00 0.000e+00 0.000e+00 1.000e+00
  4.000e+01 1.740e+02 6.200e+01 1.110e+02 0.000e+00 2.100e+01 0.000e+00
  5.000e+00 8.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [2.000e+01 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 1.000e+01
  1.850e+02 2.170e+02 5.500e+01 8.000e+00 2.000e+00 0.000e+00 0.000e+00
  2.100e+01 2.000e+01 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 6.000e+00]
 [6.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 1.590e+02
  4.260e+02 4.400e+01 0.000e+00 4.600e+01 0.000e+00 0.000e+00 0.000e+00
  7.000e+00 2.700e+01 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 2.460e+02
  1.520e+02 0.000e+00 0.000e+00 3.000e+00 1.000e+00 0.000e+00 0.000e+00
  0.000e+00 3.800e+01 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 2.000e+00 1.200e+02
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 5.000e+00
  1.000e+01 4.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 6.000e+00 4.300e+01 1.400e+01
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 1.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 1.200e+01 6.000e+01 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 6.000e+00 1.700e+01 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 3.000e+00 0.000e+00
  0.000e+00 1.000e+00 4.000e+00 2.200e+01 6.900e+01 1.200e+01 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 4.000e+00 0.000e+00
  0.000e+00 7.000e+00 3.080e+02 8.100e+01 6.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [4.000e+01 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 6.000e+00 6.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [1.380e+02 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 6.900e+01]]
36780

In [0]:
all_date_data

            date    time label          tag  ...  speed?  direction?  status  ?
0       20170325  032010     H  渝0600314343  ...     0.0           0       0  1
1       20170325  032000     H  渝0600307706  ...     0.0           0       0  1
2       20170325  032004     H  渝0600315881  ...     0.0           0       0  1
3       20170325  032008     H  渝0600314468  ...     0.0           0       0  1
4       20170325  032041     H  渝0100501505  ...    35.5           0       1  1
...          ...     ...   ...          ...  ...     ...         ...     ... ..
239864  20170325  032105     H  渝0600307198  ...     0.0           0       0  1
239865  20170325  032305     H  渝0600307198  ...     0.0           0       0  1
239866  20170325  032305     H  渝0600307198  ...     0.0           0       0  1
239867  20170325  032305     H  渝0600307198  ...     0.0           0       0  1
239868  20170325  032305     H  渝0600307198  ...     0.0           0       0  1

[239869 rows x 10 columns]